@tailwind base;
@tailwind components;
@tailwind utilities;
*,*::before,*::after{
  transition: all 200ms ease-out;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */

}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.hoverable:not(:hover) .show-on-hover{
  display: none;
  transform: scale(0%);
  opacity: 0%;
}
.show-on-hover{
  transform: scale(100%);
  opacity: 100%;
}