@tailwind base;
@tailwind components;
@tailwind utilities;
*,*::before,*::after{
  transition: all 50ms ease-out;
}
:root {
  --background:#f8fafc; /*slate-50 */
  --text:#111827 ; /* gray-900*/
  --primary:#ef4444; /*red-500*/
  --secondary: #64748b; /*slate-500*/
  --accent: #ffffff; /*white*/
  --addcart:#000;/*black*/
  --hover:#94a3b8; /*slate-400 */
  --hover2:#e5e7eb ; /*slate-200 */
  --neutral: #f1f5f9; /*slate-100*/
  --header: #ffffff; /*white opposite contrast of footer*/
  --footer:#27272a;/* zinc-800*/
  --green: #22c55e;/*green-500 */
  --star:#eab308;/* yellow-500*/ 
  --shadow: rgba(0, 0, 0, 0.3); /* Soft shadow for dark backgrounds */

}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
  :root {
    --background: #1a1a2e; /* rich dark blue-gray */
    --text: #eaeaea; /* off-white */
    --primary: #c74646; /* vibrant coral red */
    --secondary: #4e5d78; /* muted blue-gray */
    --accent: #0f172a; /* deep slate */
    --addcart: #0c6b48; /* emerald green */
    --hover: #334155; /* cool slate */
    --hover2: #64748b; /* softer slate */
    --neutral: #d1d5db; /* light gray */
    --header: #d2d9e7; /* deep slate */
    --footer: #1e293b; /* darker slate */
    --green: #0c6b48; /* neon mint green */
    --star: #facc15; /* golden yellow */
    --shadow:rgba(45, 45, 55, 0.4); /* Slightly warm gray */

  }
  
  
  
  
  
  
  
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */

}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.hoverable:not(:hover) .show-on-hover{
  display: none;
  transform: scale(0%);
  opacity: 0%;
}
.show-on-hover{
  transform: scale(100%);
  opacity: 100%;
}